
<div>
    <h2><span data-translate="gatewayApp.book.detail.title">Book</span> {{vm.book.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gatewayApp.book.name">Name</span></dt>
        <dd>
            <span>{{vm.book.name}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.book.publishDate">Publish Date</span></dt>
        <dd>
            <span>{{vm.book.publishDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="gatewayApp.book.author">Author</span></dt>
        <dd>
            <span>{{vm.book.author}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="book-detail.edit({id:vm.book.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
